<div *ngIf="!dataLoaded" class="spinner-border bg-dange" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<!-- <div class="mb-3">
    <label for="filterText" class="form-label">Aranacak ürün...</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Ürün ara">
</div>

<div *ngIf="filterText.length>=1" class="alert alert-warning">
    {{filterText}} içeren ürünler:
</div> -->

<table class="table table-striped table-hover">
    <thead>
        <td>Id:</td>
        <td>Name:</td>
        <td>Category:</td>
        <td>IsCompleted:</td>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{todo.todoId}}</td>
            <td>{{todo.todoName | uppercase}}</td>
            <td>{{todo.categoryId}}</td>
            <td>{{todo.isCompleted}}</td>
            <td><button class="btn btn-success">Sepete Ekle</button></td>
        </tr>
    </tbody>
</table>
