<div class="content">
    <div class="container mb-5">
        <div class="row col-md-12 mx-auto mt-5 shadow-lg p-4">
            <form [formGroup]="todoAddForm">
                <div class="col-md-6 overflow-hidden">
                    <label for="todoName">Görev Adı:</label>
                    <input class="form-control" type="text" id="todoName" formControlName="todoName"
                        placeholder="Görev adı...">
                </div>
                <div class="col-md-2">
                    <label for="categoryId">Kategori:</label>
                    <input class="form-control" type="number" id="categoryId" formControlName="categoryId"
                        placeholder="Kategori...">
                </div>
                <div class="col-md-2">
                    <label for="isCompleted">Tamamlanma:</label>
                    <input class="form-control" type="text" id="isCompleted" formControlName="isCompleted"
                        placeholder="Tamamlanma...">
                </div>
                <div class="col-md-2">
                    <button (click)=add() class="btn btn-primary btn-block">Ekle</button>
                </div>
            </form>

        </div>
    </div>
</div>